.services{
    background-color: var(--background-clr);

    h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: var(--primary-clr);
        padding: 50px 0 10px 0;

        @media(max-width: 800px) {
            text-align: center;
            font-size: 21px;
            line-height: 24px;
        }
    }

    .fabrication-services{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
        flex: 1;
        @media(max-width: 800px) {
            flex-direction: column;
        }
        .images{
            width: 50%;
            @media(max-width: 800px) {
                width: 100vw;
            }
        }

        .image{
            width: 100%;
            @media(max-width: 800px) {
                width: 100vw;
            }
            
        }
        .content{
            align-self: flex-start;
            width: 50%;
            background-color: var(--white);
            padding: 36px;

            @media(max-width: 800px) {
               display: none;
            }

            p{
                font-size: 24px;
                line-height: 45px;
                color: var(--dark-blue);
                font-weight: normal;
                @media(max-width: 1124px) {
                    font-size: 20px;
                    line-height: 35px;
                 }
            }
        }
        .content-phone-container{
            display: none;
            padding-left: 10vw;
            margin-left: -16px;
            margin-right: -32px;
            margin-top: -80px;
            width: 90vw;
            position: relative;
            left: 0;
            right: 0;
            bottom: 50px;
            overflow-x: scroll;
            
            flex-direction: row;
            align-self: baseline;
            gap: 30px;

            @media(max-width: 800px) {
                display: flex;
            }
            .content-phone{
                border-radius: 24px;
                font-weight: normal;
                color: var(--dark-blue);
                width: 70vw;
                background-color: var(--white);
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                ul{
                    width: 70vw;
                    padding: 32px 16px;
                    margin: 16px;
                }
            }
        }
    }
}