@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;500;700;600;900&display=swap');

:root{
    --primary-clr: #1c2199;
    --secondary-clr: #8D8D99;
    --tertiary-clr: #CCCDDE;
    --background-clr: #F2F6FA;
    --hover-clr: #97B5FF;
    --dark-blue: #11156A;
    --black: #0D0D0E;
    --white: #FFFFFF;
    --gradient: linear-gradient(108.23deg, #1D6BC7 -5.1%, #133B6A 93.54%);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
}

.scrollUp{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    box-shadow: 0px 0px 8px #CCCDDE;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;
    border-radius: 50%;

}

a{
    text-decoration: none;
}
img{
    width: 100%;
}

.section{
    padding: 32px 60px;
}
.section-title{
    margin-top: 40px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.0125em;
    text-align: center;
    color: var(--black);
}
.section-desc{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--secondary-clr);
}
@media(max-width: 800px) { 
    .section{
        padding: 20px 16px;
    }
    .section-title{
        font-size: 24px;
        line-height: 26px;
    }
    .section-desc{
        font-size: 12px;
        line-height: 24px;
    }
    .scrollUp{
        width: 30px;
        height: 30px;
        
    }
}