.about{
   
   margin-top: 100px;
   margin-bottom: 100px;
    .row{
        width: 70vw;
        display: flex;
        margin:0 auto;
        flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .col{
                margin:0 auto;
                h2{
                    font-size: 30px;
                    margin:0 auto;
                }
                h5{
                    color:#8D8D99;
                    margin:0 auto;
                    @media(max-width: 700px) {
                        padding-bottom: 20px;
                     }
                }
                p{
                    padding:10px;
                        text-align: start;
                        width:35vw;
                        font-size: 24px;
                line-height: 45px;
                color: var(--dark-blue);
                font-weight: normal;
                min-width: 300px;
                @media(max-width: 1124px) {
                    font-size: 20px;
                    line-height: 35px;
                 }
                
                }
            }
            @media(max-width: 700px) {
                width:90vw;
             }
           
    }
}