.header{
  width: 100%;
  z-index: 1000;
}

.current{
  color: var(--hover-clr) !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 60px;
}
.navbar .logo {
  height: 10vh;
  @media(max-width: 800px){
    height: 5vh;
  }
}


.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-clr);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  font-size: 1.3rem;
  margin-left: 2rem;
  font-weight: bolder;
  a{
    color: var(--primary-clr);
  }
}

.nav-item a:hover {
  color: var(--hover-clr);
}


.nav-link{
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-link:hover{
  color: var(--primary-clr);
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 700;
  width: 500px;
}




@media only screen and (max-width: 768px) {  
  .nav-logo{
    width: 350px;
  }
  .navbar {
      justify-content: space-between;
      padding: 0.5rem 1rem;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 3.5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      z-index: 100;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-logo{
      font-size: 1.5rem;
  }
  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }


}